body {
  height: 100vh;
}

div.grid {
  display: flex;
  flex-direction: row;
  width: min(70vw, 70vh);
  height: min(70vw, 70vh);
  margin: auto;
  flex-wrap: wrap;
  border: 5px solid darkblue;
}
    
div.gridletter {
  width: calc(min(14vw, 14vh) - 2px);
  height: calc(min(14vw, 14vh) - 2px);
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid darkblue;
}

div.finished {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
    
div.gridletter.chosen {
  background-color: #bbd;
}