body {
  height: 100vh;
}

div.grid {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 70vw;
  margin: auto;
  flex-wrap: wrap;
  border: 5px solid darkblue;
}
    
div.gridletter {
  width: calc(14vw - 2px);
  height: calc(14vw - 2px);
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid darkblue;
}
    
div.gridletter.chosen {
  background-color: #bbd;
}